<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 d-flex flex-row">
            <ul>
                {{#each orders}}
                    <li class="d-flex flex-row justify-content-between">
                        <p>{{name}}</p>
                        <img style="width: 10vh" src={{image}} alt="">
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>