<div class="container pt-5">

    <div class="row">
        <div class="col-md-9 bg-dark" >
            <form method="post" action="/search" class="input-group mb-3 mt-3">
                <input type="text" name="searchField" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <input type="submit" class="btn btn-outline-secondary input-group-append" value="Search">
            </form>
        </div>
    </div>
    <div class="raw content d-flex flex-row">
        <div class="col-md-4 bg-dark">
            <div class="side-menu">
                <ul class="list-group">
                    <a href="/items"><li class="list-group-item">Phones</li></a>
                    <a href="/items"><li class="list-group-item">Notebooks</li></a>
                    <a href="/items"><li class="list-group-item">Computers</li></a>
                    <a href="/items"><li class="list-group-item">MP3 Players</li></a>
                    <a href="/items"><li class="list-group-item">CPUs</li></a>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="rev_slider">
                <div class="slide slider__main">
                    <img src="img/leo.jpg" alt="">
                </div>
                <div class="slide slider__main">
                    <img src="img/leo.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="img/leo.jpg" alt="">
                </div>
                <div class="slide">
                    <p>texte1</p>
                </div>
            </div>
        </div>
    </div>
</div>
