<div class="container">
  <div class="row">
      <div class="col-md-3">
          <form action="/signin" method="post" class="pt-5 d-flex flex-column">
              <input type="text" name="username">
              <input type="password" name="password">
              <input type="submit" value="Login!">
          </form>
          <p>{{login}}</p>
          <p>{{password}}</p>
      </div>
  </div>
</div>
<script>

</script>